@charset "UTF-8";

*{
	margin: 0;
	padding: 0;
}

header {
	top: 0;
	height: 200px;
	line-height: 200px;
	width: 100%;
	background: #FAEEAB;
	text-align: center;
}

.logowrap{
	width: 100%;
	height: 200px;
}

.logo{
	text-align: center;
}

nav{
	width: 100%;
	height: 100px;
	line-height: 100px;
	background: #FBF9B0;
	overflow: hidden;
}

nav ul {
	height: 100px;
	line-height: 100px;
	width: 100%;
	background: #FBF9B0;
	overflow: hidden;
	text-align:center;
	padding: 0 15px;
}

nav ul li {
	display:inline-block;
	list-style: none;
	padding: 0 15px;
	border: 1px solid black;
}

.add {
	border: 1px solid black;
}

main {
	overflow: auto;
	width: 100%;
	height: 100%;
}

.title{
	font-size: 28px;
	font-weight: 900;
	text-align: center;
	margin: 3rem;
}

.mapwrap {
	margin: 0 auto;
	padding-top: 103px;
	width: 1500px;
	height: 700px;
}

.write_main{
	padding: 10px;
	text-align: center;
	height: 900px;
}

table {
	width: 700px;
	height: 800px;
}

table, tr, th, td {
	border: 1px solid black;
}

td {
	padding-left: 3px;
	text-align: left;
}

.list_wrap{
	
}

.w_btn {
	padding: 3px;
	text-align: center;
}

footer {
	padding-top: 10px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 60px;
	line-height: 60px;
	text-align: center;
	background: #FAEEAB;
	color: #050500;
}